.fade-slide-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .fade-slide-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }
  
  .fade-slide-appear {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .fade-slide-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }